services:
  # --- Reverse Proxy (Traefik) ---
  traefik:
    image: traefik:v3.0
    restart: always
    hostname: traefik

    command:
      - '--providers.docker=true'
      - '--providers.docker.exposedbydefault=false'
      - '--entrypoints.web.address=:80'
      - '--entrypoints.websecure.address=:443'
      - '--certificatesresolvers.myresolver.acme.tlschallenge=true'
      - '--certificatesresolvers.myresolver.acme.email=${LETSENCRYPT_EMAIL}'
      - '--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json'
      - '--entrypoints.web.http.redirections.entryPoint.to=websecure'
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_certs:/letsencrypt
    networks:
      - splacer-public

  postgres:
    image: postgres:16-alpine
    restart: always
    hostname: postgres

    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/postgres/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    networks:
      - internal

  redis:
    image: redis:7-alpine
    restart: always
    hostname: redis

    networks:
      - internal

  keycloak:
    image: playaru/keycloak-russian:26.4.0
    restart: always
    hostname: keycloak

    command: start

    environment:
      KC_HOSTNAME: auth.${DOMAIN}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: admin
      KC_DB_PASSWORD: ${DB_PASSWORD}
      KC_PROXY_HEADERS: xforwarded
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"

      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin

      # Оптимизация для работы в контейнере
      KC_HEALTH_ENABLED: 'true'
      KC_METRICS_ENABLED: 'true'

    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.keycloak.entrypoints=websecure'
      - 'traefik.http.services.keycloak.loadbalancer.server.port=8080'
      - 'traefik.docker.network=splacer-public'
      - 'traefik.http.routers.keycloak.rule=Host(`auth.${DOMAIN}`)'
      - 'traefik.http.routers.keycloak.tls.certresolver=myresolver'

    depends_on:
      - postgres
    networks:
      - splacer-public
      - internal

  # --- Backend (NestJS) ---
  api:
    image: node:22-alpine
    restart: always
    hostname: api

    working_dir: /app
    volumes:
      - ./backend:/app
    environment:
      KEYCLOAK_AUTH_SERVER_URL: http://keycloak:8080
      DATABASE_URL: postgres://admin:${DB_PASSWORD}@postgres:5432/nestjs
      REDIS_HOST: redis
      REDIS_PORT: 6379
      NODE_ENV: production

    command: node dist/main.js
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.api.rule=Host(`api.${DOMAIN}`)'
      - 'traefik.http.routers.api.entrypoints=websecure'
      - 'traefik.http.routers.api.tls.certresolver=myresolver'
      - 'traefik.http.services.api.loadbalancer.server.port=3000'
      - 'traefik.docker.network=splacer-public'
    depends_on:
      - postgres
      - redis
    networks:
      - splacer-public
      - internal

  # --- Frontend (React Static) ---
  frontend:
    image: nginx:alpine
    restart: always

    volumes:
      - ./frontend:/usr/share/nginx/html:ro
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.frontend.rule=Host(`${DOMAIN}`)'
      - 'traefik.http.routers.frontend.entrypoints=websecure'
      - 'traefik.http.routers.frontend.tls.certresolver=myresolver'
      - 'traefik.docker.network=splacer-public'
    networks:
      - splacer-public

networks:
  splacer-public:
    external: true
  internal:
    driver: bridge

volumes:
  pgdata:
  api_node_modules:
  traefik_certs:
