<html>
  <head>
    <style>
      .title {
        color: #2c3e50;
        font-size: 24px;
      }
      .content {
        color: #7f8c8d;
      }
    </style>
  </head>
  <body>
    <div class="title">Игра</div>
    <div>Место: <%= locals.placeName %></div>
    <div>Дата: <%= locals.gameDate %></div>
    <div>Время: <%= locals.gameTime %></div>

    <p><%= locals.message %></p>
  </body>
</html>
